svg {
  background: hsla(0,0%,0%,.2);
}

.pinboard {
  @extend ._flex;
  width: 100%;
  max-height: 100%;
  height: auto;
}

.pin {
  cursor: pointer;
  overflow: visible !important; // TODO JAPR: Fix normalize specificity with svg:not(:root)
  &.mouseover {
    border: 1px solid #000;
  }
}

.pin-g {
  image {
    transform: translate(-50%,-50%);
  }
}

